{% extends "MATOM/index.html" %}
{% load staticfiles %}

{% block content %}

       <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Citation: <small>If you find this resource useful, please cite:</small>
                        </h1>
                    </div>
                </div>
    <ul>
    <li>
        <h4>
        <a href="http://f1000research.com/articles/4-1429/v2"> Kibet CK and Machanick P. Transcription factor motif
            quality assessment requires systematic comparative analysis
        [version 2; referees: 2 approved]. F1000Research 2016, 4(ISCB Comm J):1429 (doi: 10.12688/f1000research.7408.2)<b ></b></a></h4>

    </li>

    <li>
        <h4>
            A preprint publication on this resource is now available: <a href="http://dx.doi.org/10.1101/065615">
            MARS: Motif Assessment and Ranking Suite for transcription factor binding motifs</a>
        </h4>
    </li>
        </ul>
{% endblock %}