{% extends "MATOM/index.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    <div id="get-this">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    EB-MAR: <small>Enrichment-Based Motif Assessment and Ranking</small>
                </h1>
                {#                        <ol class="breadcrumb">#}
                {#                            <li class="active">#}
                {#                                <i class="fa fa-dashboard"></i> Dashboard#}
                {#                            </li>#}
                {#                        </ol>#}
            </div>
        </div>

        <img src="/static/MATOM/img/big_circle_ball.gif" alt="My image" class="img-responsive" id="comp-img"
             style="display:none"/>


        <div id="hide-form" style="display:block">
            <div class="row" id="comp-hide">
                <div class="myform">


                    {% crispy form %}
                </div>



                {% if message == 'NO_TF' %}
                    <script>
                        var meme_error = "{{ tf |upper }} not in database. Please paste or upload motifs";

                        alert(meme_error);
                    </script>

                {% endif %}

                {% if  message == 'MEME_ERROR' %}
                    <script>
                        var meme_er = "{{ meme_error }}";

                        alert(meme_er);
                    </script>

                {% endif %}

                {% if  message == 'NOT_AVAILABLE' %}
                    <script>
                        var meme_error = "AME in not currently supported, working on it";

                        alert(meme_error);
                    </script>

                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}