{% extends "MATOM/index.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Downloads: <small>Links to MARSTools source code and Ipython notebooks</small>
                        </h1>
                    </div>
                </div>
                <ul>
                <li><a href="https://github.com/kipkurui/MARSTools">MARSTools</a></li>
                <li><a href="https://github.com/kipkurui/MARS">MARS Web server code</a></li>
                <li><a href="https://github.com/kipkurui/MARS_Evaluation">Notebooks for evaluation of MARSTools</a></li>
                <li>Notebooks: To be added</li>
                
                </ul>


{% endblock %}
